html {
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    margin:0;
}

body {
    margin:0;
    width: 100%;
    height: 100%;
    background-image: url(IMGDONACIONES/Fondo.jpg);
    background-size: cover;

   align-items: center;
   text-align: center;
 
}

@font-face {
    font-family: Titulos;
    src: url(Fuentes/Shotgun.ttf);
  }

  @font-face {
    font-family: FuenteFontFace2;
    src: url(Fuentes/Organic\ Relief.ttf);
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.PagAct {
    background-color: #8491f5;
}



h1 {
    padding-left: 40%;
    padding-top: 20%;
}


section#barra {
    z-index: 999;
    width: 100%;
    height: 48px;
    position: relative;
    overflow: visible;
}



#centrado {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}




-----------------------/*Formulario*/-------------------------


* {
    margin: 0; padding:0;
    }
    
    
    
    input:focus {
    background-color: #fae5ad;
    }
    
    
    h2 {
        font-family: Titulos;
        font-size: 50px;
    }
    
    
    #Formulario {
    width: 500px; height: 880px;
    margin: auto; 
    background-color: #495996;
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    text-align: center;

    margin: 0.5em; 
      
    padding: 0.5em;                                             
    border-radius: 1em;

    
  
 
    }


    .sumbit {
        background-color: brown;
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

  







    #Donaciontxt {
        width: 30%;
        height: 7%;
        background-color: #495996 ;
        margin: 0.5em; 
      
         padding: 0.5em;                                             
        border-radius: 1em;

        text-align: center;

        


    }

   






    footer {
        width: 100%;
        height: 100px;                                                            /*tamaño y color de fondo el footer*/
        background-color: #1b2542  ;
        
        font-family: 'Koulen', cursive;          /* texto del footer*/
        font-size: 20px;
        color: #d1d5f7;
        text-align: center;
        line-height: 100px;
    }
    